<form [formGroup]="newSkillFormGroup">
  <mat-card-content>
    <div class="mat-elevation-z8" style="width: 70rem">
      <table *ngIf="dataSource; else loading" mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="action">

          <th mat-header-cell *matHeaderCellDef>№</th>
          <td mat-cell *matCellDef="let skill">
            {{skill.num}}
          </td>
          <td mat-cell *matFooterCellDef="let skill">
            <div *ngIf="editMode">
              <button mat-icon-button class="cancel" color="primary" (click)="CancelEdit('create skill')">
                <mat-icon>undo</mat-icon>
              </button>
              <button mat-icon-button class="save" color="primary" (click)="Save('create skill')"
                [disabled]="!CanSave('create skill')">
                <mat-icon>check</mat-icon>
              </button>
            </div>
            <button *ngIf="!editMode && pageOwner" mat-icon-button class="add" color="primary"
              (click)="Edit('create skill')">
              <mat-icon>add_box</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let skill">
            {{ skill.name }}
          </td>
          <td mat-cell *matFooterCellDef>
            <mat-form-field *ngIf="editMode">
              <input matInput placeholder="Name" formControlName="name" [matAutocomplete]="auto" />
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="setAutocompleteEvent($event)">
                <mat-option *ngFor="let skill of nameSkillOptions | async" [value]="skill" style="height: auto;">
                  {{ skill.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let skill">
            {{ skill.description }}
          </td>
          <td mat-cell *matFooterCellDef>
            <mat-form-field *ngIf="editMode">
              <input matInput placeholder="Description" formControlName="description"
                [attr.disabled]="isSkillExisted || null" />
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="rating">
          <th mat-header-cell *matHeaderCellDef>Rating</th>
          <td mat-cell *matCellDef="let skill">
            {{ skill.averageEvaluate }}
          </td>
          <td mat-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="expertValue">
          <th mat-header-cell *matHeaderCellDef>My Value</th>
          <td mat-cell *matCellDef="let skill">
            <div *ngIf="evaluatedSkill != skill.id">
              {{ skill.expertEvaluate }}
              <button *ngIf="skill.expertEvaluate == 0" class="add-eval" mat-icon-button color="accent"
                (click)="Edit('add evaluation', skill)">
                <mat-icon>add</mat-icon>
              </button>
              <button *ngIf="skill.expertEvaluate != 0" mat-icon-button color="accent" disabled="true">
                <mat-icon>check</mat-icon>
              </button>
            </div>
            <div *ngIf="evaluatedSkill == skill.id">
              <mat-form-field>
                <input matInput placeholder="Value" [formControl]="evaluationControl" type="number" />
              </mat-form-field>
              <button class="cancel-eval" mat-icon-button color="warn" (click)="CancelEdit('add evaluation')">
                <mat-icon>undo</mat-icon>
              </button>
              <button class="save-eval" mat-icon-button color="primary" (click)="Save('add evaluation', skill)"
                [disabled]="!CanSave('add evaluation')">
                <mat-icon>check</mat-icon>
              </button>
            </div>
          </td>
          <td mat-cell *matFooterCellDef></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let skill; columns: displayedColumns"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[3, 5]"></mat-paginator>
    </div>
  </mat-card-content>
</form>

<ng-template #loading>
  <div style="display: flex; justify-content: center;">
    <mat-progress-spinner mode="indeterminate" diameter="130" strokeWidth="9"></mat-progress-spinner>
  </div>
</ng-template>
