<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h1>Регистрация</h1>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline" style="width:100%">
            <mat-label>Имя</mat-label>
            <input
              matInput
              [(ngModel)]="valueFirstName"
              formControlName="firstName"
              [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
            />
            <button mat-button *ngIf="valueFirstName" matSuffix mat-icon-button aria-label="Clear" (click)="valueFirstName = ''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width:100%">
            <mat-label>Фамилия</mat-label>
            <input
              matInput
              [(ngModel)]="valueLastName"
              formControlName="lastName"
              [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
            />
            <button mat-button *ngIf="valueLastName" matSuffix mat-icon-button aria-label="Clear" (click)="valueLastName = ''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width:100%">
            <mat-label>Логин</mat-label>
            <input
              matInput
              [(ngModel)]="valueLogin"
              formControlName="username"
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
            />
            <button mat-button *ngIf="valueLogin" matSuffix mat-icon-button aria-label="Clear" (click)="valueLogin = ''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width:100%">
            <mat-label>Введите пароль</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            />
            <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </mat-form-field>
          <div style="text-align:center">
            <button mat-raised-button color="accent" style="width:50%; margin:10px; border-radius: 5px">Зарегистрироваться</button>
            <button mat-raised-button color="primary" style="width:50%; border-radius: 5px" routerLink="/login">Отмена</button>
          </div>
          <div *ngIf="loading">
            <mat-progress-spinner
              style="margin: 0 auto"
              color="accent"
              mode="indeterminate"
              diameter="80"
              strokeWidth="9"
            ></mat-progress-spinner>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
