/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

button:focus {
  outline: 0;
}

table {
  width: 100%;
}

.table-row:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;
  min-height: 83%;
}
