<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h1>Sign In</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline" style="width:100%">
            <mat-label>Login</mat-label>
            <input matInput formControlName="username" />
            <!-- <mat-error *ngIf="username.invalid">{{getErrorLogin()}}</mat-error> -->
          </mat-form-field>
          <mat-form-field appearance="outline" style="width:100%">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" />
            <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            <!-- <mat-error *ngIf="password.invalid">{{getErrorPassword()}}</mat-error> -->
          </mat-form-field>
          <div *ngIf="!loading" style="text-align:center">
            <button mat-raised-button type="submit" color="accent" style="width:40%; height: 40px; margin-bottom:10px; border-radius: 5px">
              Sign in
            </button>
            <br />
            <button
              mat-raised-button
              routerLink="/register"
              color="primary"
              style="width:40%; height: 40px; margin-bottom:10p x; border-radius: 5px"
            >
              Sign up
            </button>
          </div>
          <div *ngIf="loading">
            <mat-progress-spinner style="margin: 0 auto" mode="indeterminate" diameter="80" strokeWidth="9"> </mat-progress-spinner>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
