<mat-card class="container">
  <div style="display: flex; justify-content: space-around;">
    <img style="min-width: 300px; min-height: 300px;" mat-card-avatar
      src="https://cdn.pixabay.com/photo/2017/10/18/21/36/portrait-2865605_960_720.jpg" class="avatar" />
    <form [formGroup]="userFormGroup">
      <button mat-button *ngIf="pageOwner && !editUserMode" (click)="showChangeMode()">Edit</button>
      <div *ngIf="editUserMode">
        <button mat-button (click)="saveUserData()" [disabled]="!canSaveUserData()">Save</button>
        <button mat-button (click)="cancelChangeMode()">Cancel</button>
      </div>
      <div *ngIf="!isLoading; else loading">
        <mat-card-header *ngIf="!editUserMode">
          <mat-card-title>{{ userDataValue.firstName }} {{ userDataValue.lastName }}</mat-card-title>
          <mat-card-subtitle>Username: {{ userDataValue.username }}</mat-card-subtitle>
          <mat-card-subtitle>{{ userDataValue.city }}</mat-card-subtitle>
          <mat-card-subtitle>{{ userDataValue.position }}</mat-card-subtitle>
        </mat-card-header>
      </div>
      <div *ngIf="editUserMode" style="display: flex; flex-direction: column">
        <mat-form-field>
          <input matInput placeholder="First Name" formControlName="firstName" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last Name" formControlName="lastName" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Username" formControlName="username" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="City" formControlName="city" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Position" formControlName="position" />
        </mat-form-field>
      </div>
    </form>
  </div>
  <div style="display: flex; align-items: center; flex-direction: column;">
    <mat-card-header>
      <mat-card-title>List of Skills</mat-card-title>
    </mat-card-header>
    <form [formGroup]="newSkillFormGroup">
      <mat-card-content>
        <div class="mat-elevation-z8" style="width: 70rem">
          <table *ngIf="dataSource; else loading" mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let skill"></td>
              <td mat-cell *matFooterCellDef="let skill">
                <div *ngIf="newSkillMode">
                  <button mat-icon-button color="primary" (click)="undoAdd()">
                    <mat-icon>undo</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" (click)="saveOrCreateSkill()" [disabled]="!canSaveSkill()">
                    <mat-icon>check</mat-icon>
                  </button>
                </div>
                <button *ngIf="!newSkillMode && pageOwner" mat-icon-button color="primary" (click)="addSkill()">
                  <mat-icon>add_box</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let skill">
                {{ skill.name }}
              </td>
              <td mat-cell *matFooterCellDef>
                <mat-form-field *ngIf="newSkillMode">
                  <input matInput placeholder="Name" formControlName="name" [matAutocomplete]="auto" />
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="setAutocompleteEvent($event)">
                    <mat-option *ngFor="let skill of nameSkillOptions | async" [value]="skill" style="height: auto;">
                      {{ skill.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
              <td mat-cell *matCellDef="let skill">
                {{ skill.description }}
              </td>
              <td mat-cell *matFooterCellDef>
                <mat-form-field *ngIf="newSkillMode">
                  <input matInput placeholder="Description" formControlName="description"
                    [attr.disabled]="isSkillExisted || null" />
                </mat-form-field>
              </td>
            </ng-container>

            <ng-container matColumnDef="rating">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Rating</th>
              <td mat-cell *matCellDef="let skill">
                {{ skill.averageEvaluate }}
              </td>
              <td mat-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="expertValue">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>My Value</th>
              <td mat-cell *matCellDef="let skill">
                <div *ngIf="evaluatedSkill != skill.id">
                  {{ skill.expertEvaluate }}
                  <button *ngIf="skill.expertEvaluate == 0" mat-icon-button color="accent"
                    (click)="addEvaluation(skill)">
                    <mat-icon>add</mat-icon>
                  </button>
                  <button *ngIf="skill.expertEvaluate != 0" mat-icon-button color="accent" disabled="true">
                    <mat-icon>check</mat-icon>
                  </button>
                </div>
                <div *ngIf="evaluatedSkill == skill.id">
                  <mat-form-field>
                    <input matInput placeholder="Value" [formControl]="evaluationControl" type="number" />
                  </mat-form-field>
                  <button mat-icon-button color="warn" (click)="cancelEvaluation()">
                    <mat-icon>undo</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" (click)="saveEvaluate(skill)"
                    [disabled]="!canSaveEvaluation()">
                    <mat-icon>check</mat-icon>
                  </button>
                </div>
              </td>
              <td mat-cell *matFooterCellDef></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let skill; columns: displayedColumns"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
        </div>
      </mat-card-content>
    </form>
  </div>
</mat-card>

<ng-template #loading>
  <div style="display: flex; justify-content: center">
    <mat-progress-spinner mode="indeterminate" diameter="130" strokeWidth="9"></mat-progress-spinner>
  </div>
</ng-template>
