<mat-card class="container">
  <app-user-data #userChild [userData]="userDataSub$ | async" [pageOwner]="pageOwner"></app-user-data>
  <div style="display: flex; align-items: center; flex-direction: column;">
    <mat-card-header>
      <mat-card-title>List of Skills</mat-card-title>
    </mat-card-header>
    <app-skills-table [userSkills]="userSkills$ | async" [displayedColumns]="displayedColumns"
      [currentUser]="currentUser" [routeUsername]="routeUsername" [pageOwner]="pageOwner"
      [userId]="userChild.userDataValue.id">
    </app-skills-table>
  </div>
</mat-card>
