<mat-card class="container">
  <mat-card-content>
    <img style="min-width: 300px; min-height: 300px;" mat-card-avatar
      src="https://cdn.pixabay.com/photo/2017/10/18/21/36/portrait-2865605_960_720.jpg" class="avatar">
    <mat-card-header style="text-align: center; margin-top: 100px">
      <mat-card-title>Имя фамилия</mat-card-title>
      <mat-card-subtitle>Город</mat-card-subtitle>
    </mat-card-header>
  </mat-card-content>
  <mat-card-content>
    <mat-card-header style="text-align: center; margin-top: 100px">
      <mat-card-title>Список компетенций</mat-card-title>
    </mat-card-header>
  </mat-card-content>
</mat-card>
